* {
  margin: 0;
  padding: 0;
}

body, html {
  background: url("../assets/3.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
body {margin: 0 auto; position:relative;}

#main {position: absolute; height: 100%; width: 100%;}

div {position:absolute;}

#name1 {color: AliceBlue; top: 14%; left: 31%; font-size: 400%; font-family: "Arial Black", Gadget, sans-serif; font-weight: 900;}

#name2 {color: darkorchid; top: 40%; left: 26%; font-size: 120%; font-family: verdana}

#nav {top: 63%; left: 14%;}
#nav a {
  float: left;
  width: 170px;
  height: 26px;
  background-color: black;
  border-left: 0px solid black;
  text-decoration: none;
  text-align: center;
  padding: 28px;
  padding-top: 5px;
  font-size: 38px;
  color: white;
}
#nav a:hover {background-color: blue; color: black;}

.button_box2 { top: 47%; left: 22%;
}

.cf:before, .cf:after{
  content:"";
  display:table;
}
.cf:after{
  clear:both;
}
.cf{
  zoom:120%;
}

.form-wrapper-2 {
  width: 540px;
  padding: 15px;
  background: darkgrey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}
.form-wrapper-2 input {
  width: 410px;
  height: 20px;
  padding: 10px 5px;
  float: left;
  font: bold 15px 'Raleway', sans-serif;
  border: 0;
  background: #eee;
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.form-wrapper-2 input:focus {
  outline: 0;
  background: #fff;
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
.form-wrapper-2 input::-webkit-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.form-wrapper-2 button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'Raleway', sans-serif;
  color: white;
  text-transform: uppercase;
  background: black;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}
.form-wrapper-2 button:active, .form-wrapper-2 button:focus {background: #c42f2f;}
.form-wrapper-2 button:before {
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent black transparent;
  top: 12px;
  left: -6px;
}
.form-wrapper-2 button:focus:before{border-right-color: #c42f2f;}
.form-wrapper-2 button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.open-button {
  background-color: darkblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 11%;
  width: 70px;
}

.joinbutton {
  background-color: darkblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 3%;
  width: 90px;
}

.form-popup {
  width: 300px;
  display: none;
  position: fixed;
  left: 36%;
  bottom: 21%;
}

.form-container {color:white;
  border: 5px solid black;
  width: 250px;
  height: 340px;
  padding-right: 60px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: black;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: silver;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  outline: none;
}

.form-container .btn {color: black;
  background-color: springgreen;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 111.5%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {color:black;
  background-color: lightcoral;
}

.browsing {bottom: 40%; right:16%;
  background-color: darkblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  width: 140px;
  border-radius: 50%;
}

.changestyle { top:3%;
  background-color: darkblue;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  position: fixed;
  width: 120px;
}

.changestyle:hover {background: silver; color: black;}

@media print {
  body, html {text-indent: 10%}
}