* {
  margin: 0;
  padding: 0;
}

body, html {
  background: url("../assets/mm.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
body {margin: 0 auto; position:relative; text-align:center;}

h2 {color:white;}

#fav {
	margin: 10px auto 0px;
  text-align: center;
  background: red;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  font-weight:bold;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
#fav:hover {transform: translateY(-3px);}

#favs {
  font-size:32px;
  padding: 10px;
  width: 400px;
  margin-top: 6px;
  font-style: verdana;
  font-weight: bold;
  background-color:#2E2D2D;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#favs:hover {background-color: hotpink; color: black}

h1 a {color: white; background-color: darkblue; text-decoration:none; border-radius:3px; padding: 3px;}

h2 a {color:white;}

#read1, #read2 {background-color: yellow; border-radius: 14px 14px 14px 14px; font-size: 24px; color: black}

label {color:yellow;font-size:24px;font-weight:bold}

#search input[type=text] {
  padding: 10px;
  margin: 3px 0 6px 0;
  border: none;
  border-radius: 20px 20px 20px 20px;
  background: white;
  width: 185px;
}
#search input[type=text]:focus, #search input[type=password]:focus {outline: none;}

::placeholder {
	font-size: 13px;
	font-style: italic;
}

#search #searchbutton {
  background-color: lightcyan;
  color: black;
  padding: 8px 8px;
  font-size:18px;
  width: 90px;
  border-radius:10px 10px 10px 10px;
  padding: 7px;
  border: none;
  font-weight:bold;
  cursor: pointer;
}

.home {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 1%;
  width: 90px;
}

.logout {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 10%;
  right: 1%;
  width: 90px;
}

@media print {
  body, html {text-indent: 10%}
}

.pagination {list-style:none;}
.pagination li {display: inline-block; margin: 5px; padding: 6px; border-radius: 10px 10px 10px 10px;}
.pagination li a {color:white;background-color: black; padding: 10px; text-decoration: none; font-size:24px;}
.pagination li a:hover {background-color: red; color: white;}