div {position: absolute;}

body, html {
  background: url("../assets/17.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.regform {height:400px;width:300px;
  position: fixed;
}

.form-container2 {
  width: 330px;
  height: 470px;
  background-color:white;
}

.form-container2 input[type=text], .form-container2 input[type=password] {
  width: 300px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #F9F8F8;
}

.form-container2 input[type=text]:focus, .form-container2 input[type=password]:focus {
  outline: none;
}

.form-container2 .btn2 {
  background-color: #FF8C00;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
}

.img {
  top: 4%;
  left: 45%;
}

.latin {
  animation: latin ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  float:left;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.latin img {
  border: 5px solid #f8f8f8;
  display: block;
}
.latin:after{
  content: '';
  position: absolute;  
  width: 20px; height: 20px;  
  border: 1px solid #999;
  top: -10px; left: 50%;
  z-index: 0;
  border-bottom: none;
  border-right: none;
  transform: rotate(45deg);
}

.latin:before{
  content: '';
  position: absolute;
  width: 5px; height: 5px;
  top: -17px;left: 51.8%;
  z-index: 5;
  border-radius: 50% 50%;
  background: #000;
}
 
@keyframes latin {
  0% { transform: rotate(3deg); }
  100% { transform: rotate(-3deg); }
}

.error {color: red;}

@media print {
  body, html {text-indent: 10%}
}

span {font-style:italic}