body, html {
  background: url("../assets/17.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#link a {font-weight: bold;}

@media print {
  body, html {text-indent: 10%}
}