* {
  margin: 0;
  padding: 0;
}

body, html {
  background: url("../assets/mm.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width:100%;
}
body {margin: 0 auto; position:relative;}

#main {position: absolute; height: 100%; width: 100%;}

div {position:absolute;}

#name1 {top: 14%; left: 31%;}

#name1 h1 a {text-decoration:none;color: bisque; font-size: 400%; font-family: "Arial Black", Gadget, sans-serif; font-weight: 900;}

#name2 {color: #ffffff; top: 40%; left: 26%; font-size: 120%; font-family: verdana}

#nav { top: 63%; left: 14%;}

#nav {display: inline;}
#nav a {
  float: left;
  width: 390px;
  height: 26px;
  background-color: black;
  border-left: 0px solid black;
  text-decoration: none;
  text-align: center;
  padding: 28px;
  padding-top: 5px;
  font-size: 38px;
  color: white;
}

#nav a:hover {background-color: #fff111; color: black}

h2 {text-align:center; color: pink; font-weight: bold; margin-top:10px; font-size:60px;}

.logout {
  background-color: #000000;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 3%;
  width: 90px;
}

.browsing {bottom: 38.5%; right:39.5%;
  font-weight: bold;
  background-color: #fff111;
  font-size: 35px;
  font-weight: bold;
  color: black;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  width: 400px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color:red;
  border-width: 5px;
}

@media print {
  body, html {text-indent: 10%}
}